{% load static %}

{% block content %}
<h1>Upload File</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>


<style>
        .not-visible {
           
        display: none;
        }
       .dz {
        border-style: 1px dashed;
        border-radius: 5px;
        border-color: #ddd;
        transition: .5s;
        max-width: 800px;
        max-height: 500px;
        margin: 20px;
        left: 50%;
        top: 50%;
        justify-content: center;
        align-content: center;
         }
        .dz:hover {
        
         background-color: #f5f5f5;
         }
</style>

<link rel="stylesheet" href="{% static 'dropzone.min.css' %}">
<script src="{% static 'dropzone.min.js' %}"></script>

    <h1>Upload CSV File</h1>
    <form method="post" id="my-dropzone" action="{% url 'upload-csv' %}" class="dropzone dz" enctype="multipart/form-data">
        {% csrf_token %}
        <div   class="fallback">
            <input  name="file" type="file" multiple />
         </div>
          <button type="submit" class="btn btn-primary">Upload</button>
         </form> 
    <script src="{% static 'dropzone.min.js' %}"></script>
    <script>
        Dconst csrf = document.getElementsByName('csrfmiddlewaretoken')

        Dropzone.autoDiscover = false 
        const myDropzone = new Dropzone('#my-dropzone',{
              url: "{% url 'upload-csv' %}",
             init: function() {
                this.on('sending' {
                     console.log('sending')
                     formData.append('csrfmiddlewaretoken', csrf)
                })
             },
             maxFiles: 3,
             maxFilesize: 3,
             acceptedFiles: '.csv'
        }) 
    </script>
{% endblock  %}

